<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycwh.demo.chapter5.mapper.EmployeeTaskMapper">
    <resultMap id="result_employee_task" type="com.ycwh.demo.chapter5.POJO.EmployeeTask">
        <id column="id" property="id"/>
        <result column="emp_id" property="empId"/>
        <result column="task_name" property="taskName"/>
        <result column="note" property="note"/>
        <association column="task_id" property="task"
                     select="com.ycwh.demo.chapter5.mapper.TaskMapper.getTask"/>
    </resultMap>
    <select id="getEmployeeTaskByEmpId" resultMap="result_employee_task">
          select * from t_employee_task where emp_id=#{empId}
    </select>
</mapper>