<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycwh.demo.chapter5.mapper.TaskMapper">
    <select id="getTask" parameterType="long" resultType="com.ycwh.demo.chapter5.POJO.Task">
        select * from t_task where id=#{id}
    </select>
</mapper>