<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <!--类型别名-->
    <typeAliases>
        <typeAlias type="com.ycwh.demo.chapter3.Role" alias="Role"/>
        <typeAlias type="com.ycwh.demo.chapter4.POJO.Dinosaur" alias="dinosaur"/>
        <typeAlias type="com.ycwh.demo.chapter4.POJO.TestFile" alias="testfile"/>
        <typeAlias type="com.ycwh.demo.chapter4.POJO.ArkDinosaur" alias="arkdinosaur"/>
    </typeAliases>

    <!--类型处理-->
    <!--<typeHandlers>-->
    <!--<typeHandler type_handler="com.ycwh.demo.chapter4.MyTypeHandler" javaType="string" jdbcType="VARCHAR"/>-->
    <!--</typeHandlers>-->
    <!--<objectFactory type="com.ycwh.demo.chapter4.MyObjectFactory">-->
    <!--<property name="prop1" value="value1"/>-->
    <!--</objectFactory>-->
    <!--环境配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url"
                          value="${jdbc.url}"/>
                <property name="username" value="${jdbc.userName}"/>
                <property name="password" value="${jdbc.userPassword}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">
        <property name="Oracle" value="oracle"/>
        <property name="MySQL" value="mysql"/>
        <property name="DB2" value="db2"/>
    </databaseIdProvider>
    <mappers>
        <mapper resource="RoleMapper.xml"/>
        <mapper resource="dinosaurMapper.xml"/>
        <mapper resource="fileMapper.xml"/>
        <mapper resource="ArkDinosaurMapper.xml"/>
        <mapper resource="chapter5/EmployeeMapper.xml"/>
        <mapper resource="chapter5/WorkCardMapper.xml"/>
        <mapper resource="chapter5/FemaleHealthFormMapper.xml"/>
        <mapper resource="chapter5/MaleHealthFormMapper.xml"/>
        <mapper resource="chapter5/EmployeeTaskMapper.xml"/>
        <!--<mapper resource="chapter5/TaskMapper.xml"/>-->
    </mappers>
</configuration>