<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycwh.root.Mapper.UserMapper">
    <resultMap id="user" type="com.ycwh.root.POJO.User">
        <result property="userName" column="user_name"/>
        <result property="note" column="note"/>
    </resultMap>
    <select id="select" resultMap="user" parameterType="string">
        select *
        from ssm.qiniu_user
        where #{userName}
    </select>
    <insert id="insert" parameterType="com.ycwh.root.POJO.User">
        insert into ssm.qiniu_user (user_name, note) values (#{userName}, #{note})
    </insert>
    <update id="update" parameterType="com.ycwh.root.POJO.User">
        update ssm.qiniu_user
        set note = #{note}
        where user_name = #{userName}
    </update>
</mapper>