<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="role" class="com.ycwh.demo.chapter10.Role">
        <property name="roleName" value="总经理"/>
        <property name="note" value="公司管理者"/>
    </bean>
</beans>